*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 15vh;
    font-size: 15px;
    text-align: center;
}

header img{
    width: 220px;
    position: relative;
    top: 17px;
}
header .logo-wiki{
    position: relative;
    top: 30px;
}

/* ESTO ES LA PARTDE DE ABAJO DE WIKIPEDIA LA ENCICLOPEDIA */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

main .main-logo img{
    width: 230px;
}

main .main-logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}

main section{
text-align: center;
}

/*  DERECHA  */
main .main-idioma-left p{
    position: relative;
    top: 10px;
    color: #545980;
}

main .main-idioma-left .español{
     position: relative;
     right: 150px;
     bottom: 200px;
}
main .main-idioma-left .español{
    position: relative;
    right: 150px;
    bottom: 200px;
}
main .main-idioma-left .chino{
    position: relative;
    right: 200px;
    bottom: 160px;
}
main .main-idioma-left .deu{
    position: relative;
    right: 220px;
    bottom: 120px;
}
main .main-idioma-left .italiano{
    position: relative;
    right: 200px;
    bottom: 80px;
}
main .main-idioma-left .portugues{
    position: relative;
    right: 150px;
    bottom: 40px;
}
/* IZQUIERDA */
main .main-idioma-right p{
    position: relative;
    top: 10px;
    color: #545980;
}

main section{
    text-align: center;
    }

main .main-idioma-right .ingles{
    position: relative;
    left: 150px;
    bottom: 350px;
}
main .main-idioma-right .español{
   position: relative;
   right: 150px;
   bottom: 200px;
}
main .main-idioma-right .ruso{
   position: relative;
   left: 200px;
   bottom: 310px;
}
main .main-idioma-right .frances{
   position: relative;
   left: 220px;
   bottom: 270px;
}
main .main-idioma-right .japon{
   position: relative;
   left: 200px;
   bottom: 230px;
}
main .main-idioma-right .arabe{
   position: relative;
   left: 150px;
   bottom: 190px;
}

        /* input */

main .main-input input{
    width: 395px;
    height: 45px;
    font-size: 16px;
    padding-right: 64px;
    position: relative;
    bottom: 140px;
}
main .main-input input:hover{
    border: 2px solid #3366cc;
}   

main .main-input .main-input-container .idioma-icon img{
    position: relative;
    left: 180px;
    bottom: 183px;
    width: 15px;
    height: 15px;
}
main .main-input .main-input-container p{
    position: relative;
    left: 160px;
    bottom: 170px;
    color: #54595d;
}

main .main-input .main-input-container .main-search img{
    position: relative;
    bottom: 218px;
    left: 218px;
    width: 56px;
    height: 45px;
}

                                        /* BOTON DE LEER WIKIPEDIA */
main .main-button-idioma .button-container{
    width: 270px;
    height: 36px;
    position: relative;
    bottom: 200px;
    outline: none;
    border: 1px solid #878d93;
    background-color: #f8f9fa;
    border-radius: 3px;   
    cursor: pointer; 
}
main .main-button-idioma .button-container img{
    position: relative;
    right: 13px;
    top: 1px;
    width: 30px;
    height: 26px;
}
main .main-button-idioma .button-container .button-busqueda {
    position: relative;
    right: 5px;
    bottom: 5px;
    color: #3366dd;
}
main .main-button-idioma .button-container span img{
    width: 12px;
    height: 10px;
    position: relative;
    left: 15px;
}

.horizontal-line{
    height: 2px;
    border-bottom: 1px solid #c8ccd1;
    max-width: 480px;
    position: relative;
    bottom: 180px;
    left: calc(50% - 250px);
    /* EL CLEAR BOTH PASA DE FONDO LO QUE NECESITAS */
}   

.line{
    position: relative;
    bottom: 100px;
}

footer .main-side {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 0px 0px 0px 100px;
    color: #54595d;
    font-size: 13px;
    line-height: 1.5;
  }
  
footer .main-side-fundation {
    height: 100px;
    font-size: 13px;
    position: relative;
  }
  
  footer .main-side-fundation img {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 10px;
  }
footer .main-side-fundation span {
    position: absolute;
    margin: 0;
    padding-left: 60px;
    padding-right: 20px;
    color: #54595d;
    font-size: 13px;
    width: 300px;
  }
  
footer .main-side-apps {
    height: 180px;
    position: relative;
    background-color: #f8f9fa;
  }
  
footer .foto-wiki {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 6px;
  }
  
footer .main-side-apps span {
    position: absolute;
    padding-left: 60px;
    padding-right: 20px;
    color: #54595d;
    font-size: 13px;
    width: 350px;
    line-height: 1.5;
  }
footer .titulo1{
    margin: 10px 10px 20px 0;
}
footer .parrafo1{
    margin: 0 0 20px 0;
}
footer .main-side .main-side-apps .googleplay img{
    width: 124px;
    height: 40px;
}
footer .main-side .main-side-apps .apple img{
    width: 124px;
    height: 40px;
}
  
                         /* AQUI COMIENZA LA PARTE DERECHA DEL FOOTER */
footer .main-grid {
    display: inline-block;
    position: absolute;
    margin: 0px 0px 50px 100px;
    width: 80%;
  }
  
footer .main-grid-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 50px;
  }

footer .main-grid-link {
    display: inline-block;
    padding-bottom: 100px;
    width: 100%;
    white-space: nowrap;
  }
footer .main-grid-link a {
    position: relative;
  }
  
footer .main-grid-link a img {
    position: absolute;
    top: 0;
    left: 0;
  }

footer .main-grid .main-grid-links p{
    margin: 10px 0 0 0;
    font-size: 14px;
}

footer .main-grid-link a span {
    position: absolute;
    margin: 0 60px;
    width: 200px;
  }
  
footer .main-grid-link a strong {
    font-size: 14px;
    color: #36c;
  }
  
footer .main-grid-link a p {
    color: #54595d;
    font-size: 12px;
    margin: 0;
  }
  
